[Unit]
Description=selfhosted multi-user web app for externally storing Reddit items (saved, created, upvoted, downvoted, hidden) to bypass Reddit's 1000-item listing limits
Documentation=https://github.com/aplotor/expanse
Wants=network-online.target
Requires=docker.service
After=network-online.target docker.service

[Service]
Type=simple
User=austin
Group=austin
WorkingDirectory=/home/austin/Documents/github/expanse/
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/bin/bash /home/austin/Documents/github/expanse/run.sh prod up --watch
ExecStop=/bin/bash /home/austin/Documents/github/expanse/run.sh prod down
Restart=always
RestartSec=10
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=30
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
